<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<!-- 导航-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">博客系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/search/all}">博客广场</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/blog/own}">我的博客</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/error/noLogin}">历史记录</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/error/noLogin}">我的关注</a></li>
            </ul>
        </div>
        <a class="navbar-right" th:href="@{/blog/toLogin}">
            <h4>登录入口</h4>
        </a>
    </div>
</nav>


<form id="login" method="post" onsubmit="return false">
    <div class="login-size" >
        <div class="login-title-size center">
            <h3 class="text-center" style="color:whitesmoke;">Admin Login</h3>
            <div class="form-group text-center">
                <span style="color: whitesmoke">账号:</span>
                <input type="text" placeholder="请输入用户名" name="username" id="username">
            </div>
            <div class="form-group text-center">
                <span style="color: whitesmoke">密码:</span>
                <input type="password" placeholder="请输入密码" name="password" id="password">
            </div>
            <p class="text-center">
                <input type="checkbox" id="isRememberMe"><span style="color:
                whitesmoke">记住我</span>
                <button type="submit" onclick="login()">LOGIN IN</button></p>
            <div class="text-center">
                <span class="text-center" style="color: whitesmoke">没有账号？去</span>
                <a href="/blog/toRegister"
                   style="text-decoration: none; color: red">注册</a>
            </div>
        </div>
    </div>
</form>

<script>

    function login(){
        let isRememberMe = document.getElementById("isRememberMe");
        let flag = false;
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        if (isRememberMe.checked){
            flag = true;
        }else {
            flag = false;
        }
        $.ajax({
            type: "POST",
            url: "/blog/login",
            data:{
                "username": username,
                "password": password,
                "isRememberMe": flag
            },
            success: function (data){
                if (data === "error/505"){
                    location.href = "/"+data;
                }else {
                    location.href = "/";
                }

            }

        })
    }
</script>
</body>
</html>